<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_TestServer" />
                <binding name="BasicHttpBinding_PersonService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9999/GetTestService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_TestServer" contract="WCFServer.TestServer"
                name="BasicHttpBinding_TestServer" />
            <endpoint address="http://localhost:9999/PersonService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_PersonService" contract="PersonServer.PersonService"
                name="BasicHttpBinding_PersonService" />
        </client>
    </system.serviceModel>
</configuration>