<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings />
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior name="TestBehavior">
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:9999/GetTestService"/>
        </behavior>

        <behavior name="PersonBehavior">
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:9999/Person"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCFServer.TestServer"  behaviorConfiguration="TestBehavior">
        <endpoint address="http://localhost:9999/GetTestService" binding="basicHttpBinding" contract="WCFServer.ITestServer"/>
      </service>
      <service name="WCFServer.PersonService"  behaviorConfiguration="PersonBehavior">
        <endpoint address="http://localhost:9999/Person" binding="webHttpBinding" contract="WCFServer.IPersonService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>